body {
    background: white;
}


/* Navigation */
nav {
    padding-bottom: 0.5em;

    .tab {
        padding: 0.25em 1em;
    }

    /* tabs with an 'a' tag are visually inactive */ 
    a.tab {
        background: #ddd;
        text-decoration: none;
    }
    /* tabs without an 'a' tag are visually active */
    :not(a).tab {
        font-weight: bold;
    }
}


section {
    margin: 0.5em 0;
    vertical-align: top;

    h2 {
        font-size: 1.25em;
        margin-top: 2em;
    }

    h3 {
        font-size: 1em;
        display: inline-block;
        margin: 0;
    }

    /* Remove left padding for the first child of a section (if it doesn't have a -pad class) */
    :not(.-pad):first-child {
        padding-left: 0;
    }

    /* */
    &.-align-left {
        display: inline-block;
        text-align: left;
        margin: 0;
    }
    &.-align-right {
        display: inline-block;
        text-align: right;
        margin: 0;
    }
}


label {
    padding-right: 0.5em;
    line-height: 1.5em;
    padding-left: 1em;

    /* Any labels marked as -required */
    &.-required:before {
        content: "*";
        color: red;
    }
}
